.container {
  width: min(100% - 2.5rem, 90rem);
  margin-inline: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column !important;
}

.ml-2 {
  margin-left: 1rem;
}